In [0]:
import pandas as pd
import seaborn as sns
import numpy as np
import spacy.cli
spacy.cli.download("en_core_web_sm")
sp = spacy.load('en_core_web_sm')
from google.colab import drive
drive.mount('/content/drive')

âœ” Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
data =  pd.read_csv('drive/My Drive/Colab Notebooks/cleaned.alexadata.csv', header = None)
data.columns = ['Queries']
data.head()

                                           Queries
0                             alexa resume spotify
1         alexa set the temperature to sixty eight
2                                   resume spotify
3                                            alexa
4  alexa track southwest flight thirteen fifty six

In [0]:
df = str(data['Queries'].values.tolist())
sentence = sp(df)

# Action Words

In [0]:
action = []
for word in sentence:
  if word.pos_ == 'VERB' and word.is_stop == False:
    action.append(word.text)

In [0]:
frequency = {}
for item in action:
   if (item in frequency):
      frequency[item] += 1
   else:
      frequency[item] = 1
sorted_d = sorted(frequency.items(), key=lambda x: x[1],reverse=True)
sorted_d[0:5]

[('play', 3266), ('set', 479), ('turn', 97), ('stop', 82), ('dismiss', 81)]

# Entities

In [0]:
entity = []
for word in sentence.ents:
     entity.append(word.label_)

In [0]:
frequency = {}
for item in entity:
   if (item in frequency):
      frequency[item] += 1
   else:
      frequency[item] = 1
sorted_d = sorted(frequency.items(), key=lambda x: x[1],reverse=True)
sorted_d[0:5]

[('CARDINAL', 548), ('TIME', 472), ('DATE', 298), ('PERSON', 190), ('GPE', 71)]